// Styles live here until I find a more appropriate home for them.

body {
  margin-bottom: 20px;
}

.view {
  margin-top: 100px;
}
.view ul {
  list-style-type: none;
  margin: 0px;
}
.view img {
  -moz-border-radius: 20px;
  border-radius: 20px;
}
.view iframe {
  border: 20px solid #000;
  border-radius: 20px;
}
.view a img {
  text-decoration: none;
  opacity: .6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}
.view a img:hover {
  opacity: 1;
  filter: alpha(opacity=100); /* For IE8 and earlier */
}

ul.badgelist { list-style-type: none; text-align: center; }
ul.badgelist li { display: inline-block; }
img.social-badge {
  background: none;
  width: 60px;
  height: 60px;
}