---
layout: default

header-title: adam b. goldstein
header-description: The website of Adam B. Goldstein
---
%h3 this is me.
%a{href: '/contact'}
	%img{src: '/assets/images/adam.jpg', alt: 'contact'}
%h3 i make web applications.
%a{href: '/work/'}
	%img{src: '/assets/images/original/bonnie.png', alt: 'work'}
%h3 and some other stuff too.
%a{href: '/play/'}
	%img{src: '/assets/images/heynow.jpg', alt: 'play'}
