%head
  %meta{charset: 'utf-8'}
  %title {{ page.header-title }}
  %meta{name: 'description', content: '{{ page.header-description }}'}
  %meta{name: 'author', content: 'Adam B. Goldstein'}

  / Standard HTML5 shim, for IE6-8 support of HTML5 elements
  /[if lt IE 9]
    %script{src: 'http://html5shim.googlecode.com/svn/trunk/html5.js'}

  %link{rel: 'shortcut icon', href: '/assets/images/favicon.ico'}
