<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/">adam b. goldstein</a>
      <ul class="nav">
        <li class="{% if page.navigation-selection == 'work' %}active{% endif %}">
          <a href="/work">work</a>
        </li>
        <li class="{% if page.navigation-selection == 'play' %}active{% endif %}">
          <a href="/play">play</a>
        </li>
        <li class="{% if page.navigation-selection == 'contact' %}active{% endif %}">
          <a href="/contact">contact</a>
        </li>
        <li class="{% if page.navigation-selection == 'blog' %}active{% endif %}">
          <a href="/blog">blog</a>
        </li>
      </ul>
    </div>
  </div>
</div>