<h3>other stuff too</h3>
<ul class="nav nav-list">
  <li class="list-header">music & dance & art</li>
  <li class="{% if page.subnavigation-selection == 'heynowdance' %}active{% endif %}"><a href="/play/">heynowdance</a></li>
  <li class="{% if page.subnavigation-selection == 'connector' %}active{% endif %}"><a href="/play/connector">connectorband</a></li>
  <li class="{% if page.subnavigation-selection == 'dida' %}active{% endif %}"><a href="/play/dida">dida b quick!</a></li>
  <li class="{% if page.subnavigation-selection == 'experiment-america' %}active{% endif %}"><a href="/play/experiment_america">experiment america</a></li>
  <li class="list-header">hobbies & friends</li>
  <li class="{% if page.subnavigation-selection == 'dailey' %}active{% endif %}"><a href="/play/dailey">dailey landscaping</a></li>
  <li class="{% if page.subnavigation-selection == 'japanese' %}active{% endif %}"><a href="/play/japanese">日本語</a></li>
</ul>