<div>
  <h3>web applications</h3>
  <ul class="nav nav-list">
    <li class="list-header">MITRE</li>
    <li class="{% if page.subnavigation-selection == 'hreader' %}active{% endif %}"><a href="/work/">hReader</a></li>
    <li class="{% if page.subnavigation-selection == 'bonnie' %}active{% endif %}"><a href="/work/bonnie">bonnie</a></li>
    <li class="{% if page.subnavigation-selection == 'cypress' %}active{% endif %}"><a href="/work/cypress">cypress</a></li>
    <li class="list-header">WPI</li>
    <li class="{% if page.subnavigation-selection == 'assistments' %}active{% endif %}"><a href="/work/assistments">ASSISTments</a></li>
    <li class="{% if page.subnavigation-selection == 'edm' %}active{% endif %}"><a href="/work/edm">ed. data mining</a></li>
  </ul>
</div>