<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head.html %}
  </head>
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include navigation.html %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="view view1 span2">
          {% include blog_navigation.html %}
        </div>
        <div class="view view2 span6">
          {{ content }}
        </div>
        <div class="view view3 span4">
          {% include featured.html %}
          {% include next_time.html %}
        </div>
      </div>
    </div>
  </body>
</html>